<div class="sp"><strong>Your details</strong></div>
  <form action="" class="loginform">
	<div class="formCh">
	  <div class="form-group">
		<div class="controls">
		  <label for="emailBy">Your email</label>
		  <input type="text" id="emailBy" name="emailBy" value="{{email}}" placeholder="example@mail.com" 
			class="form-control" />
		  <span class="error_name"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="skype">Skype</label>
		  <input type="skype" id="skype" name="skype" value="{{skype}}" placeholder="skypelogin"
			class="form-control" />
		  <span class="error_name"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="discord">Discord</label>
		  <input type="text" id="discord" name="discord" value="{{discord}}" placeholder="dascordname#1234"
			class="form-control" />
		  <span class="error_name"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="nickname">Nickname</label>
		  <input type="text" id="nickname" name="nickname" value="{{nickname}}" placeholder="Name" class="form-control" />
		  <span class="error_name"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="server">Server</label>
		  <input type="text" id="server" name="server" value="{{server}}" placeholder="2763876374534"
			class="form-control" />
		  <span class="error_name"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="battletag">Battletag</label>
		  <input type="text" id="battletag" name="battletag" value="{{battletag}}" placeholder="#15153" class="form-control" />
		  <span class="error_name"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <div class="subtitlePayment">Payment method</div>
		</div>
	  </div>
	</div>
	<div class="form-group ">
	  <div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
		  value="option1" checked>
		<label class="form-check-label" for="inlineRadio1">Credit card (Visa,
		  Mastercard)</label>
	  </div>
	</div>
	<div class="form-group ">
	  <div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
		  value="option1">
		<label class="form-check-label" for="inlineRadio1">Bitcoin</label>
	  </div>
	</div>
	<div class="form-group ">
	  <div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
		  value="option1">
		<label class="form-check-label" for="inlineRadio1">Stripe</label>
	  </div>
	</div>
	<div class="formCh">

	  <div class="form-group">
		<div class="controls">
		  <button type="submit" class="btn btn-primary">Place order</button>
		</div>
	  </div>
	</div>

  </form>