<div class="sp"><strong>Your details</strong></div>
  <form action="" class="orderForm">
	<div class="formCh">
	  <div class="form-group">
		<div class="controls">
		  <label for="emailBy" class="form-check-label">Your email*</label>
		  <input type="text" id="emailBy" name="email" value="{{email}}" placeholder="example@mail.com" 
			class="form-control" />
		  <span class="error_email invalid-feedback"></span>
		</div>
	  </div>
	  {#
	  <div class="form-group">
		<div class="controls">
		  <label for="skype" class="form-check-label">Skype</label>
		  <input type="text" id="skype" name="skype" value="{{skype}}" placeholder="skypelogin"
			class="form-control" />
		  <span class="error_skype invalid-feedback"></span>
		</div>
	  </div>#}
	  <div class="form-group">
		<div class="controls">
		  <label for="discord" class="form-check-label">Discord*</label>
		  <input type="text" id="discord" name="discord" value="{{discord}}" placeholder="discordname#1234"
			class="form-control" />
		  <span class="error_discord invalid-feedback"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="nickname" class="form-check-label">Nickname</label>
		  <input type="text" id="nickname" name="nickname" value="{{nickname}}" placeholder="Name" class="form-control" />
		  <span class="error_nickname invalid-feedback"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="server" class="form-check-label">Server</label>
		  <input type="text" id="server" name="server" value="{{server}}" placeholder="2763876374534"
			class="form-control" />
		  <span class="error_server invalid-feedback"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <label for="battletag" class="form-check-label">Battletag</label>
		  <input type="text" id="battletag" name="battletag" value="{{battletag}}" placeholder="#15153" class="form-control" />
		  <span class="error_battletag invalid-feedback"></span>
		</div>
	  </div>
	  <div class="form-group">
		<div class="controls">
		  <div class="subtitlePayment">Payment method</div>
		</div>
	  </div>
	</div>
	{{payment_method}}

	<div class="form-group form-check">
        <label class="form-check-label terms"></label>
            <input class="form-check-input form-control" type="checkbox" name="agree_terms" id="agree_terms">
            I agree with <a href="index.php?route=information/information&information_id=3" target="_blank">Privacy Policy</a>, <a href="index.php?route=information/information&information_id=6" target="_blank">Refund Policy</a> and <a href="index.php?route=information/information&information_id=5" target="_blank">Terms of Service</a>
        
        
            <span class="error_agree_terms invalid-feedback">{{ error_agree_terms }}</span>
       
    </div>

	<div class="formCh">
	  <div class="form-group">
		<div class="controls">
		  <button type="submit" class="btn btn-primary">Place order</button>
		</div>
	  </div>
	</div>

  </form>
  
  